{% extends 'base.html' %}

{% block body %}

<!-- to be filled by the Python script -->
<h1>{{ the_title }}</h1>
<div class="column is-4 is-offset-4">
    <h3 class="title">Data</h3>
    <h4 class="subtitle">{{ message }}</h4>
    <div class="box">
        <form method = "POST" action="{{ url_for('table')}}">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="weighting 1" placeholder="Cost" autofocus="" >
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="weighting 2" placeholder="Environmental Impact" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="weighting 3" placeholder="Projected Constr. Time">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="longitude" placeholder="Longitude" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="latitude" placeholder="Latitude" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth" style="background-color: #203e7a;">Enter</button>
        </form>
    </div>
</div>


{% endblock %}
